
  {{> header}}

  <main>
    <div class="container section">
        <div class="row">
            <div class="col l12 s12">
                <div class="card">
                    <div class="card-content">
                        <img class="img-rounded profile-avatar left" src="/img/avatar.png" alt="avatar">
                        <div class="profile-title">
                            <h5 class="">{{info.firstname}} {{info.lastname}}</h5>
                            <p>{{info.email}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            
                    <div class="divider"></div>
            
                    <div class="card-content">
                        <div class="section">
                            <div class="row">
                                <div class="col s12 m4">
                                  <h6 class="profile-category">Personal Information <a href="#"><i class="material-icons">edit</i>Edit</a></h6>
                                  <p></p>
                                </div>
                                <div class="col s12 m8">
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <h6>First Name</h6>
                                            <span>{{info.firstname}}</span>
                                        </div>
                                        <div class="col s12 l6">
                                            <h6>Last Name</h6>
                                            <span>{{info.lastname}}</span>
                                        </div>
                                        
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <h6>Email</h6>
                                            <span>{{info.email}}</span>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <h6>Phone</h6>
                                            <span>{{#if info.phone}}{{info.phone}} {{else}} --- {{/if}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4">
                                  <h6 class="profile-category">Faculty Information <!-- <a href="#"><i class="material-icons">edit</i>Edit</a> --></h6>
                                  <p></p>
                                </div>
                                <div class="col s12 m8">
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <h6>Student ID</h6>
                                            <span>{{#if info.student_id}}{{info.student_id}} {{else}} --- {{/if}}</span>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <h6>Department</h6>
                                            <span>{{#if departmentInfo}}{{departmentInfo}} {{else}} --- {{/if}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>       
        </div>
    </div>
  </main>

  {{> script-generic }}
  {{> script }}