{{> header}}

<main>
  <div class="container section">
    <div class="row card-posts">
      {{#each response }}
          <div class="col s12">
            <div class="card sticky-action">
              <div class="card-content">
                <a id="fetchPostId" class="modal-trigger grey-text text-darken-4" href="#modal1" data-postid="{{this.post_id}}" >
                  <span class="card-title">{{this.post_title}} <i class="material-icons right">more_vert</i></span>
                </a>
                <ul class="card-breadcrumb">
                  <li><i class="material-icons {{#if (eq this.status 1)}} green-text {{else}} red-text {{/if}} accent-4 ">lens</i><span></span></li>
                  <li><span>{{this.assistantship_title}}</span></li>
                  <li><span class="tooltipped" data-position="top" data-tooltip="{{ this.requisite_title }}">{{ initials this.requisite_title}}</span></li>
                  <li><i class="material-icons">access_time</i><span>{{this.created_at}}</span></li>
                </ul>
                <p class="truncate">
                  {{this.description}}
                </p>
              </div>
              <div class="card-action">              
                <span class="tooltipped" data-position="bottom" data-tooltip="{{this.NOSOFAPPLICANTS}} applicants"><i class="material-icons">group</i> {{ this.NOSOFAPPLICANTS }} </span>
                <span class="tooltipped" data-position="bottom" data-tooltip="24 views"><i class="material-icons">visibility</i> 24</span>
                <a href="/posts/apply/{{this.post_id}}" class="btn btn-small right pink darken-3 waves-effect">Apply</a>
              </div>
            </div>
          </div>
      {{/each}}
    </div>

    {{!-- Load modal --}}
    <!-- Modal Structure -->
    <div id="modalContainer">
      <div id="modal1" class="modal bottom-sheet modal-fixed-footer">
        {{> posts/modal }}
      </div>
    </div>
    
    {{!-- <div id="modalContainer">
      <div></div>
        {{> posts/modal }}
    </div> --}}
    
    {{!-- Load pagination links --}}
    {{> posts/pagination}}
  </div>
</main>

{{> script-generic }}
{{> script }}
{{> script-fetchpost }}